@font-face{
  font-family: "NotoSans";
  font-weight: 200;
  src: url("../src/public/font/NotoSans/NotoSans-Thin.ttf") format("truetype");
}
@font-face{
  font-family: "NotoSans";
  font-weight: normal;
  src: url("../src/public/font/NotoSans/NotoSans-Light.ttf") format("truetype");
}
@font-face{
  font-family: "NotoSans";
  font-weight: 400;
  src: url("../src/public/font/NotoSans/NotoSans-SemiBold.ttf") format("truetype");
}
@font-face{
  font-family: "NotoSans";
  font-weight: 500;
  src: url("../src/public/font/NotoSans/NotoSans-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'NotoSans' !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'NotoSans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'NotoSans';
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'NotoSans'
    monospace; */
}
